* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

.max-width-wrapper > * {
  margin-inline: auto;
  width: fit-content;
  max-width: 800px;
  padding-inline: 24px;
}

header {
  padding: 96px 0 64px;
}

h1,
h2 {
  margin: 0;
}

p {
  line-height: 1.5;
  font-size: 1.25rem;
  margin-block: 16px;
}

strong {
  color: hsla(160, 100%, 30%, 1);
  font-weight: 800;
}

.title {
  font-size: 2rem;
  line-height: 1.2;
  font-family: Lato;
}

.intro-chunk {
  width: 100%;
}

.intro-chunk p {
  max-width: 415px;
}

.intro-chunk p:first-of-type {
  margin-top: 48px;
}

p:last-child {
  margin-bottom: 0;
}

main {
  padding: 64px 0 66px;
  background-color: hsla(0, 0%, 40%, 1);
  border-top: 8px solid hsla(0, 0%, 60%, 1);
}

.card {
  background-color: white;
  border-bottom: 8px solid hsla(0, 0%, 60%, 1);
  padding-block: 24px;
}

.indented-heading {
  background: hsla(45, 100%, 50%, 1);
  border-bottom: 8px solid hsla(45, 100%, 40%, 1);
  line-height: 1.2;
  font-weight: 800;
  font-size: 1.5rem;
  padding: 16px 32px 15px;
  margin-left: -32px;
  width: fit-content;
  margin-top: -16px;
}
