.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;

  &::after {
    position: fixed;
    content: '';
    left: 0;
    bottom: 0;
    right: 0;
    height: 50vh;
    height: 50dvh;
    background: hsl(185deg 20% 80%);
    z-index: -1;
  }
}

.maxWidthWrapper {
}

.header {
  padding-bottom: 64px;

  @media (min-width: 768px) {
    width: 65%;
  }
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  @media (min-width: 768px) {
    position: fixed;
    left: 0;
    right: 0;
    top: 128px;
    max-width: 1024px;
    width: 100%;
    margin-inline: auto;
  }
}

.controlColumn {
  @media (max-width: 767px) {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 128px;
    overflow-x: auto;
    white-space: nowrap;
  }
}
